*{padding: 0; margin: 0;
    /* border: 1px dotted red; */
}
    
a{text-decoration: none; color: gray;}
a:hover{ color: gray;}
p{padding: 0; margin: 0;}
ul{list-style: none; margin: 0; padding: 0;}
li{margin: 0; padding: 0;}

header{width: 100vw; overflow: hidden;}
header img{
    width: 150vw;height: 60vw;
    object-fit: cover; margin-left: -50vw;
    position: relative;
}
header div.title{
    width: 100%;
    display: flex; align-items: center; justify-content: center;
    position: absolute; top: 28vw; left: 1vw;
}

header div.title h3{color: white; font-weight: bold;}

/* article */
/* section : menu */
section#menu { margin-top: 5vw; text-align: right;}
section#menu a{
    display: inline; margin: 1vw 1vw;
    font-size: 1.5vw;
}

/* section : layout */
section#layout {text-align: center; margin: 5vw 0;}
section#layout img{
    width: 3vw; margin: 0 .5vw;
    cursor: pointer;
}

/* section : item */
section.item{text-align: center;}
section.item .wrap{
    width: 45vw;display: inline-block; text-align: center;
    margin: 2vw 0;
}
section.item .card{position: relative;}
section.item .card>a img{width: 100%;}
section.item .card .icon{
    position: absolute; width: 6vw;
    right: 1vw; bottom: 1vw;
}
section.item .card .icon a img{width: 100%; padding: 2vw ; z-index: 1;cursor: pointer;}
section.item .card .icon a img:hover{
    background-color: #EF7878;
}
section.item .info{margin: 2vw 0 0 0;}
section.item .info a{
    font-weight: bold; font-size: 2vw; color: black;
}
section.item .info p{font-size: 2vw;}

/* section : item2 */
section.item2{display: none;}


/* section : more */
section#more{
    text-align: center; margin: 7vw 0;padding: 0.5vw; cursor: pointer;
}
section#more a{
    padding: 0.2vw 10vw;
    font-size: 2vw;
    border: 3px solid rgb(180, 178, 178);
    border-style: double;
}





/* 상단 고정 */

/* 하단 고정 */
#top_drop{
    display: inline-block;
    position: fixed;

    bottom: 1%;
    right: 10px;
    width: 50px;
    border: 0;
    opacity: 0.5;
    z-index: 2;
    max-width:max-content;
}
#top_drop:hover{
    opacity: 1;
}
#wewe{
    display: flex;
    position: fixed;
    vertical-align: bottom;
    bottom: 1%;
    right: 70px;
    max-width:max-content;
    border: 0;
    opacity: 0.8;
    text-align: center;
    height: 34px;
    z-index: 2;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #e6e6e6;
    font-family: 'S-CoreDream', 'Noto Sans Korean', 'Noto Sans KR', sans-serif;
    border-radius:20px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align:middle;

}
#wewe:hover{
    opacity: 1;
}
html {
    scroll-behavior: smooth;
  }
 #wewe img{
    max-width: 100px;
    vertical-align:middle;
    padding-left: 10px;
}


footer{ 
    padding: 16px; 
    color: gray;
    font-size: 10px;
    position: relative;
}

footer>img{
    margin-bottom: 10px;
}

footer div div.left{width: 75%;}

footer div div.left>p{margin-top: 8px;}

footer div div.left div p{
    margin: 0;
    display: inline-block;
}

footer div div.right{
    display: flex; 
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 30px;
}