*{padding: 0; margin: 0;
/* border: 1px dotted red; */
}

a{text-decoration: none; color: gray;}
a:hover{ color: gray;}
p{padding: 0; margin: 0;}
ul{list-style: none; margin: 0; padding: 0;}
li{margin: 0; padding: 0;}

.more{color: rgb(201, 198, 198); font-size: 16px;}
.title h3{font-size: 14px;}

html, body {
    height: 100%;
    margin: 0;
  }

/* header */
header{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
header>div{
    width: 50%;
    object-fit: cover;
    height: 50vw;
}

header div a div{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
header div a>img{ height: 100%;}

header #leftImage{
    top: 50%;
    right: 5%;
}
header div a div.left{
    top: 50%;
    left: 5%;
}
header div a p{margin: 0px 20px; font-weight: bold;}
header a{ color: white; position: relative;}
header a:hover{ color: white;}
/* header 속 plastic, metal */
header div a div img{width: 30px; height:40px;}


/* 상단 고정 */


/* 하단 고정 */
#top_drop{
    display: inline-block;
    position: fixed;

    bottom: 1%;
    right: 10px;
    width: 50px;
    border: 0;
    opacity: 0.5;
    z-index: 1;
    max-width:max-content;
}
#top_drop:hover{
    opacity: 1;
}
#wewe{
    display: flex;
    position: fixed;
    vertical-align: bottom;
    bottom: 1%;
    right: 70px;
    max-width:max-content;
    border: 0;
    opacity: 0.8;
    text-align: center;
    height: 34px;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #e6e6e6;
    font-family: 'S-CoreDream', 'Noto Sans Korean', 'Noto Sans KR', sans-serif;
    border-radius:20px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align:middle;

}
#wewe:hover{
    opacity: 1;
}
html {
    scroll-behavior: smooth;
  }
 #wewe img{
    max-width: 100px;
    vertical-align:middle;
    padding-left: 10px;
}




/* ----------article----------- */
article{margin-top: 50px; background-color: #F8F8F8}

/* section */
section{padding: 30px 0px; font-size: 12px;}

/* section : dragImage */
section.dragImage{
    background-color: #c8aa9a;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
section.dragImage h3{font-size: 15px; margin-top: 25px;}
section.dragImage a{ margin-bottom: 25px; margin-top: 10px;}
section.dragImage div img.w-100{height: 400px; object-fit: cover; margin-bottom: 20px;}


/* section : ABOUT PLASTA */
section.about{ padding: 0;margin: 0; color: #c8aa9a; position: relative;}
#aboutTitle{
    display: flex; align-items: center; 
    position: absolute; top: 50px; z-index: 3;
}
section div.line{ width: 120px; height: 1px; background-color: #c8aa9a;}
section div.line.title{ width: 70px;}
section div#aboutTitle h3{font-size: 15px; margin-left: 10px;}
section.about div.content{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
#aboutImage{
    margin-top: 50px;
    width: 50%;
    object-fit: scale-down;
    margin-left: -8%;
    transform:scale(1.3);
}
section.about div.str{
    height: 620px;
    width: 50%;
    background-color: #1d293f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px;
    z-index: 2;
}
section.about div.str>div{ display: flex; margin: 40px 0 0 0}
section.about div.str div div.line{margin: 20px 10px 0px 0px; height: 2px; background-color:#E8CEC1;}
section.about div.str p{font-size: 14px; margin-top: 8px; color: #E8CEC1;}
section.about div.str h4{color: #E8CEC1;}

/* section : BEST ITEMS */
/* http://hong.adfeel.info/frontend/%EA%B0%84%EB%8B%A8%ED%95%9C-carousel-%EC%98%88%EC%A0%9C/  참고 */
section.best{ margin-top: 2vw; position: relative; height: 44vw;}
section.best h3{ 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 17px;
    margin-bottom: 2vw;
    font-weight: bold;
    margin-top: 4vw;
}
section.best .card{
    width: 19vw;
    height: 25vw; padding: 0px 10px 0px 10px;
    cursor: pointer;
}
section.best .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 2vw;
}

section.best div.info a{color: black;}

section.best .wrap {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

section.best .box_wrap{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

section.best .box{ 
    width: 100%;
    margin-top: 15px;
    display: flex;
}

section.best .box:after{
    content: "";
    display: block;
    clear: both;
}

section.best .content {
    width: 45%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
section.best .prev {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(32px, -50%);
    -ms-transform: translate(32px, -50%);
    -o-transform: translate(32px, -50%);
    transform: translate(32px, -50%);
}
  
section.best .next {
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(-16px, -50%);
    -ms-transform: translate(-16px, -50%);
    -o-transform: translate(-16px, -50%);
    transform: translate(-16px, -50%);
}


/* section : BrandStory */
section.brand{
    margin: 0; padding: 0;
    overflow: hidden; 
    position: relative; 
    color: #c8aa9a;
}
section.brand img{
    width: 100%;
    height: 30vw;
    margin-left: 0%;
}

section.brand div{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.brand div p{margin-bottom: 5px; font-size: 0.8vw;}
section.brand a{
    border: 1px solid #c8aa9a; 
    color: #c8aa9a;
    font-size: 0.5vw;
    padding: 3px 50px;
}



/* section : PLASTIC ITEM */
section.plastic{
    margin: 7.5vw 0 0 0; width: 100%; 
    padding: 0px; display: inline-block;
}
section.plastic div.person{
    overflow: hidden;
    float: left;
    padding: 0px;
    width: 26vw;
    height: 40vw;
}
section.plastic .person img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}
section.plastic div.title{
    margin: 4vw 0px 2vw 56.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.plastic div.title h3{font-size: 1vw;}
section.plastic div.title a{font-weight: bold;font-size: 11px; margin-top: 10px;}
section.plastic div.info a{font-size: 13px; text-align: center;}
section.plastic div.info p{font-size: 13px; color: black; font-weight: bold;}

section.plastic .item{
    padding: 0px;
    width: 65vw;
    float: left;
    margin: 0 0 0 3vw;
}
section.plastic .item ul{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

section.plastic .item .card{
    width: 100%;
    height: 100%;
    margin-top: 10%;
}
section.plastic .item .card img{
    margin: 45% 0px;
    padding: 0;
}
section.plastic .item .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.plastic .item .info a{
    margin: 0;
    width: 100%;font-size: 0.9vw;
}
section.plastic .item .info p{font-size: 0.85vw;}
section.plastic .item li{
    cursor: pointer;
    display: inline-block;
    width: 30%;
    margin-right: 10px;
}


/* section : metal */
section.metal{
    margin: 7.5vw 0 0 0; width: 100%; 
    padding: 0px; display: inline-block;
}
section.metal div.person{
    overflow: hidden;
    float: right;
    padding: 0px;
    width: 26vw;
    height: 38vw;
}
section.metal .person img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}
section.metal div.title{
    position: absolute;
    top: -6vw;
    left: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.metal div.title h3{font-size: 1vw;}
section.metal div.title a{font-weight: bold;font-size: 11px; margin-top: 10px;}
section.metal div.info a{font-size: 13px;}
section.metal div.info p{font-size: 13px; color: black; font-weight: bold;}

section.metal .item{
    position: relative;
    padding: 0px;
    width: 70vw;
    margin: 0;
}
section.metal .item ul{
    display: flex;
    padding: 0;
    margin: 7vw 0 0 0 ;
    align-items: center;
    justify-content: center;
}

section.metal .item .card{
    width: 100%;
    height: 100%;
    margin: 10% 0 0 0;
}
section.metal .item .card img{
    margin: 45% 0px;
    padding: 0;
}
section.metal .item .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.metal .item .info a{
    margin: 0;
    width: auto;font-size: 0.9vw;
}
section.metal .item .info p{font-size: 0.85vw;}
section.metal .item li{
    cursor: pointer;
    display: inline-block;
    width: 30%;
    margin-right: 10px;
}



/* section : bottom */
section.bottom{
    background-color: #574D56;
    width: 100%; padding: 0; margin: 0;overflow: hidden;
}
section.bottom #b1, #b2{
    padding: -10px; margin: -10px;
    width: 50%; display: inline-block;
}

/* footer a{text-decoration: none;} 기본적으로 필요 */
footer{ 
    padding: 16px; 
    color: gray;
    font-size: 10px;
    position: relative;
}

footer>img{
    margin-bottom: 10px;
}

footer div div.left{width: 75%;}

footer div div.left>p{margin-top: 8px;}

footer div div.left div p{
    margin: 0;
    display: inline-block;
}

footer div div.right{
    display: flex; 
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 30px;
}


/* 팝업 작업 */
/* aside */
aside#pop{
    padding: 10px; margin: 0;
    position: fixed;
    top: 10%;
    left: 5%;
    background-color: rgb(255, 255, 255, 0.8);
    width: 600px;
    height: 500px;
    border-radius: 0px 10px ;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    z-index: 3;
}
aside#pop div#close{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #c8aa9a;
    cursor: pointer;
    border-top-right-radius: 10px;
}
aside#pop img{
    width: 15px;
    margin: 8px;
}

aside#pop p{
    margin-left: 35%; 
    margin-bottom: 20px;
    font-size: 14px;
}

aside#pop iframe{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    opacity: 1;
    position: relative;
}

aside#pop a{
    background-color: #c8aa9a;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 11px;
    margin-left: 40%;
}



