*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}

header{
    width: 100%;
    background-image: url(../image/Imhayun_IMG/headermodel.jpg);
    position: relative;
}

#logo{
    padding-top: 30px;
    padding-left: 30px;
}
#top_menu{
    position: absolute;
    right: 10px;
    top: 20px;
    color: white;
}
#top_menu a{color: white; font-size: 14px;}

nav{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 10px;
}
nav li{
    line-height: 3em;
    border-bottom: 1px solid #223344;
}

nav li  a{
    color: white;
    display: block;
    text-align: center;
}

nav li a:hover{
    background-color: white;
    color: black;
}

#content #main img{width: 100%; border: 1px solid gray;}

#content #banner li{border-bottom: 1px solid gray;}

#content #banner a{display: block; text-align: center;}

footer{padding: 0px 10px;}
footer img{width: 100%;}