/**
 * author : velog.io/@___
 * path : ./style.css
 */

 .main_container{
    margin-top: 10%;
    border: 0px solid;
    justify-content: center;
    align-items: center;
    text-align:center;
    height: 700px;
}

.login_container{
    width: 100%; 
    height: 100%; 
    margin: auto; 
    border-radius: 3px; 
    box-shadow: 0px 0px 20px #000;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.form_container{
    width: 300px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.form_title_div{
    margin: auto; 
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form_title_p{
    font-weight: bold; 
    font-size: 22px; 
    display: inline-block; 
    padding-top: 8px;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.form_input{
    width: 98%; 
    height: 30px; 
    border: 1px solid; 
    border-radius: 3px; 
    border-color: gray;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.form_item_name{
    color: gray;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.form_text_alert{
    height: 20px;
}

.form_text_alert_padding{
    padding-bottom: 10px;
}

.form_submit_button{
    width: 100%; 
    height: 44px; 
    background-color: rgb(83, 154, 236); 
    border: 1px; 
    border-radius: 3px; 
    color: white; 
    font-size: 17px; 
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin-bottom: 5%;
}
@media only screen and (max-width: 480px) {  }
@media only screen and (max-width: 320px) {  }
@media only screen and (max-width: 7800px) {  }

footer{ 
    padding: 16px; 
    color: gray;
    font-size: 10px;
    position: relative;
}

footer>img{
    margin-bottom: 10px;
}

footer div div.left{width: 75%;}

footer div div.left>p{margin-top: 8px;}

footer div div.left div p{
    margin: 0;
    display: inline-block;
}

footer div div.right{
    display: flex; 
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 30px;
}

a{text-decoration: none; color: gray;}
a:hover{ color: gray;}
