@media (max-width: 568px){
  body {
    font-size: 11px;
    width: 568px;
  }
  .card-title{
    font-size: xxx-large;
    padding-top: 15%;
    text-align: center;
  }
  #top{width: 100%;}
  .ke_png{width: 100%;}
}
@media (max-width: 976px){
  body {
    font-size: 13px;
    
  }
}
@media (min-width: 568px){
  body {
    font-size: 36px;
   
  }
  .card-title{
    font-size: xxx-large;
    padding-top: 20%;
    text-align: inherit;
    padding-left: 20%;
  }
  #top{width: 360px;}
  .ke_png{width:100% ;}
}

#ke_rl{padding: 0 0;}


.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  float: left;
  height: 75px;
  padding: 1rem;
  color: white;
  background-color: rgba(92, 92, 92, 0.5);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.header nav span{
  margin-left: 24px;
}
.header nav span button:checked{border: none;}

h1, p {
  margin: 0;
}

main {
  padding: 1rem;
  height: 100%;  
}

body {
  background: #EEE;
}

body, html {
  height: 100%;
}
ol, ul {
  padding-left: 0;
}
* {
  box-sizing: border-box;
}

#top{
  display: block;
 
  height: 100%;
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  right: -100%;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s ease;
  z-index:9999;
}  
.smenu{
  display: none;
}
.smenu:checked{
  display: block;
}  
  ul {display: block;
  list-style-type: disc;
  
}
li{
  display: list-item;
  text-align: -webkit-match-parent;
}
top h2{
  font-size: 1.5em;
  padding: 1em 15px 0.5em;
}

.a1{
  display: inline-block;
  width: 47%;
  height: 45px;
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: -16px;
  
  
}

.a1:hover{
  color: white;
}
.Btn02:hover{
  background-color: rgba(200, 198, 198);
}
.Btn02{
  background-color: white;
  color: black;
  display: inline-block;
  width: 49%;
  height: 40px;
  text-align: center;
  margin-bottom: -16px;
  margin-top: 16px;
}
.btn_1{
  background: #1d293f;
  border-color: #1d293f;
  color: #fff;
}

body {
  font-family: 'S-CoreDream', 'Noto Sans Korean', 'Noto Sans KR', sans-serif;
  font-size: 15px;
  color: #686868;
  line-height: 1.3em;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  letter-spacing: -.04em;
  word-break: keep-all;
}

button {
appearance: auto;
/* -webkit-writing-mode: horizontal-tb !important; */
text-rendering: auto;
color: -internal-light-dark(black, white);
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: center;
align-items: flex-start;
cursor: default;
background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
box-sizing: border-box;
margin: 0em;
/* font: 400 13.3333px Arial; */
padding: 1px 6px;
border-width: 2px;
border-style: outset;
border-color: -internal-light-dark(rgb(31, 30, 30), rgb(37, 36, 36));
border-image: initial;
}
.pop_close {
position: absolute;
top: 5px;
right: 5px;
width: 30px;
height: 30px;
background: url(http://plasta.whost.co.kr/theme/plasta/mobile/shop/img/icon-close-bl.png) no-repeat 50% 50%;
border: none;
text-indent: -99999px;
background-size: 15px;
opacity: 0.5;
}
.btn01{
border: 1px solid black;
margin-top: 24px;
padding: 0 10px;
text-decoration: none;
color:white;
background-color: black;
text-align: center;
white-space: normal;
font-size: 18px;
}
.btn01:hover{
text-decoration: none;
color:white;
background-color: black;
text-align: center;

}
.btn02{

padding: 0 10px;
border: 1px solid #ddd;
line-height: 37px;
width: 70px;
height: 240px;
text-decoration: none;
color:black;
background-color:rgb(255, 255, 255,0.0);
text-align: center;
white-space: normal;
font-size: 18px;
}
.btn02:hover{
border: 1px solid black;

text-decoration: none;
color:white;
background-color: black;
text-align: center;

}
a{text-decoration: none;
color: #4b4a4a;

}
a:hover{color: #4b4a4a;}
li{list-style-type: none;left: auto;}

p{
margin-right: 8px; 
}
.top_a1{

margin-top: 16px;
margin-left: 16px;
}
.top_aa{
border: 1px solid #ddd;
width: 360px;
height: 50px;

padding-left: 0px;


}
.title{
text-align: left;
display: block;
width: 200%;
height: 49px;
margin-top:16px ;
margin-left: 20px;

}
.top_aa{
padding: 0 0;
width: 200%;

}
#a1{
padding: 0 0;
}
.smenu>li{
  border: 1px solid #ddd;
  width: 200%;
  height: 36px;
  background-color: rgb(221, 219, 219);

}
.ke_bumenyu{
  margin-top: 6px;
  margin-left: 20px;
}
#ke_rl{
  display: none;
  width: 200%;
}
#KE_button{
  display: block;
  width: 200%;
}
*:checked{
  display: block;
}

#ke_rl {
  width: 200%;
}

@media (max-width: 320px) {
  #top{width: 100%;}
  .top_aa{width: 200%;}
  #ke_img{width: 90px; margin-right: 10px;}
  .btn01{width: 10px;}
  .btn02{width: 10px;}
  #keimage{width: 100%;}
  .top_img{width: 7%;}
  header nav span{margin-left: 7px;}
  #card1{width: 50%;}
  .kEaa2{width: 100% ; height: auto;}
  
}

@media (min-width: 900px) {
  #top{width: 360px;}
  .top_aa{width: 200%;}
  #ke_img{width: 120px;
    transition: all 0.4s ease;}
  .btn01{width: 70px;}
  .btn02{width: 70px;}
  
  }
  #keimage.ke_title{width: 100%; display: flex; align-items: center;
  justify-content: center; position: absolute; top: 15vw; left: -25vw;}
  .kEaa2{width: 100%; height: auto; object-fit: cover; ;
  position: relative;}
  
  
