*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}

/* 기본 */
body {
    font-family: 'S-CoreDream', 'Noto Sans Korean', 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #686868;
    line-height: 1.3em;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    letter-spacing: -.04em;
    word-break: keep-all;
}

/* 로고 */
#logo{
    position: absolute;
    top: 30px;
    left: 20px;
}

/* 오른쪽의 메뉴리스트 */
#top_menu{
    position: absolute;
    top: 30px;
    right: 20px;
}

/* 위로이동하는 버튼 */
#top_drop{
    display: inline-block;
    position: fixed;
    bottom: 1%;
    right: 10px;
    width: 50px;
    border: 0;
    opacity: 0.5;
    z-index: 1;
    max-width:max-content;
}
#top_drop:hover{
    opacity: 1;
}
html {
    scroll-behavior: smooth;
}

/* 위위사이트 이동 */
#wewe{
    display: flex;
    position: fixed;
    vertical-align: bottom;
    bottom: 1%;
    right: 70px;
    max-width:max-content;
    border: 0;
    opacity: 0.8;
    text-align: center;
    height: 34px;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #e6e6e6;
    font-family: 'S-CoreDream', 'Noto Sans Korean', 'Noto Sans KR', sans-serif;
    border-radius:20px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align:middle;
    
}
#wewe:hover{
    opacity: 1;
}
#wewe img{
    max-width: 100px;
    vertical-align:middle;
    padding-left: 10px;
}

/* 메인 글씨와 배경이미지 */
#visible{
    display: block;
    height: auto;
    z-index: -1;
}
#visible_text{
    position: absolute;
    text-align: center;
    width: 50%;
    height: 100%;
    z-index: 1;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#visible_image{
    height: 800px;
    display: table;
    max-width: 100%;
    height: auto;
    display: inline;
}

/* 입력창 */
#id{
    margin-bottom: 5px;
    background-image: url("/Plasta_renewal/image_young/require.png");
}
#pw{
    margin-bottom: 5px;
    background-image: url("/Plasta_renewal/image_young/require.png");
}
form input{
    display: flex;
    padding: 15px 0px;
    margin: auto;
}
#content{
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
    padding: 30px;
    padding-top: 100px;
}

/* body{
    display: block;
    background-image: url('./image_young/s_visual.jpg');
    background-repeat: no-repeat;
} */

