*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}

body {
    font-family: 'S-CoreDream', 'Noto Sans Korean', 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #686868;
    line-height: 1.3em;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    letter-spacing: -.04em;
    word-break: keep-all;
}
#contents{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

#id_pw{
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    padding: 15px 20px 20px 20px;
}

#id_pw div h2{
    padding: 0px 10px 5px 0px;
    text-align: left;
}
#id_pw div div input{
    width: 100%;
    font-size: 20px;
    background-image: url('./../../Image/image_young/require.png');
    background-repeat: no-repeat;
    background-position: right top;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 3px;
}
#id_pw div div input:focus{
    border: 1px solid #05afaf;
}

#visible_text{
    font-size: 25px;
    width: 100%;
    font-weight: 900;
    text-align: center;
    color: white;
}

#visual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./../../Image/image_young/s_visual.jpg');
    width: 100%;
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#visible_text{
    font-size: 25px;
    width: 100%;
    font-weight: 900;
    text-align: center;
    color: white;
}

#privacy{
    margin-bottom: 10px;
}
#fregister_term2{
    border: 1px solid #e0e0e0;
    padding: 15px 20px 10px 20px;
}
#fregister_term2 h2{
    padding: 10px 10px 5px 0px;
    text-align: left;
}
#privacy input{
    width: 100%;
    font-size: 20px;
    background-image: url('./../../Image/image_young/require.png');
    background-repeat: no-repeat;
    background-position: right top;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 3px;
}
#privacy input:focus{
    border: 1px solid #05afaf;
}

#fregister_term2{
    margin-bottom: 15px;
}


#privacy_setting{
    text-align: left;
    border: 1px solid #e0e0e0;
    padding: 15px;
    padding-bottom: 30px;
}
#privacy_setting h2{
    margin-bottom: 5px;
}
#captcha div{
    height: 40px;
}

#captcha_edt{
    width: 90px;
    height: 40px;
    text-align: left;
    outline: none;
    background-image: url('./../../Image/image_young/require.png');
    background-repeat: no-repeat;
    background-position: right top;
}
#captcha_edt:focus{
    border: 1px solid #05afaf;
}

#btn input{
    display: flex;
    background-color: #3d3e3e;
    width: 250px;
    height: 40px;
    color: white;
    text-align: center;
    margin: auto;
    justify-content: center;
    border: 0;
    outline: 0;
    opacity: 0.8;
    margin-top: 20px;
}
#btn input:hover{
    opacity: 1;
}

footer{ 
    padding: 16px; 
    color: gray;
    font-size: 12px;
    position: relative;
}

footer div div.left{width: 80%;}

footer div div.left>p{margin-top: 8px;}

footer div div.left div p{
    display: inline-block;
}

footer div div.right{
    display: flex; 
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 30px;
}
/* img{
    border: 0;
    font-size: 0;
    vertical-align: top;
} */
#top_drop{
    display: inline-block;
    position: fixed;
    bottom: 1%;
    right: 10px;
    width: 50px;
    border: 0;
    opacity: 0.5;
    z-index: 1;
    max-width:max-content;
}
#top_drop:hover{
    opacity: 1;
}
#wewe{
    display: flex;
    position: fixed;
    vertical-align: bottom;
    bottom: 1%;
    right: 70px;
    max-width:max-content;
    border: 0;
    opacity: 0.8;
    text-align: center;
    height: 34px;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #e6e6e6;
    font-family: 'S-CoreDream', 'Noto Sans Korean', 'Noto Sans KR', sans-serif;
    border-radius:20px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align:middle;
    
}
#wewe:hover{
    opacity: 1;
}
html {
    scroll-behavior: smooth;
  }
 #wewe img{
    max-width: 100px;
    vertical-align:middle;
    padding-left: 10px;
} 
footer{ 
    padding: 16px; 
    color: gray;
    font-size: 12px;
    position: relative;
}

footer div div.left{width: 80%;}

footer div div.left>p{margin-top: 8px;}

footer div div.left div p{
    display: inline-block;
}

footer div div.right{
    display: flex; 
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 30px;
}
